@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './base.css'; */


@layer base{
  body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
}